
.item {
  max-width: 200px;
}

.item img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
  
  .item button{
    background-color: black;
    color: white;
  }

  .item :hover {
    background-color: rgba(255, 0, 0, 0.13);
  }
  
  /* Add some padding inside the card container 
  /*.item h5 {
    padding: 2px 16px;
  }

  .item  {
  max-width: 200px
}
    .item:hover {
    box-shadow: 0 8px 16px 0 rgba(160, 5, 5, 0.2);
  }
  




  
  */